<div id="<%= dom_id developer %>">
  <p>
    <strong>Devname:</strong>
    <%= developer.devname %>
  </p>

  <p>
    <strong>Devid:</strong>
    <%= developer.devid %>
  </p>

  <p>
    <strong>Dptid:</strong>
    <%= developer.dptid %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= developer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= developer.phone %>
  </p>

</div>
