<%= form_with(model: developer) do |form| %>
  <% if developer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
        <% developer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :devname, style: "display: block" %>
    <%= form.text_field :devname %>
  </div>

  <div>
    <%= form.label :devid, style: "display: block" %>
    <%= form.text_field :devid %>
  </div>

  <div>
    <%= form.label :dptid, style: "display: block" %>
    <%= form.text_field :dptid %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
