<%= form_with(model: developer) do |form| %>
  <% if developer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
        <% developer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class ="field form-group">
    <%= form.text_field :devname, class:'form-control', placeholder:'Enter Developer Name' %>
  </div>
  <br/>
  <div class ="field form-group">
    <%= form.text_field :devid, class:'form-control', placeholder:'Enter Developer ID' %>
  </div>
  <br/>
  <div class ="field form-group">
    <%= form.text_field :dptid, class:'form-control', placeholder:'Enter Department ID' %>
  </div>
  <br/>
  <div class ="field form-group">
    <%= form.text_field :email, class:'form-control', placeholder:'Enter Mail' %>
  </div>
  <br/>
  <div class ="field form-group">
    <%= form.text_field :phone, class:'form-control', placeholder:'Enter Phone' %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class:'btn btn-success'%>
  </div>
<% end %>
