<p style="color: green"><%= notice %></p>

<%= render @developer %>

<div>
  <%= link_to "Edit", edit_developer_path(@developer), class:'btn btn-warning' %>
  <%= link_to "Back", developers_path, class:'btn btn-secondary' %>
  <br/><br/>
  <%= button_to "Destroy", @developer, method: :delete, class:'btn btn-danger' %>
</div>
