<p style="color: green"><%= notice %></p>

<h1>Department Informations</h1>


<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Department Name</th>
        <th>Department ID</th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td>
            <%= link_to department.devname , department %>
          </td>
          <td><%= department.dptid %></td>
          <td><%= department.dptname %></td>
          </tr>
      <% end %>
    </tbody>
</table>

<%= link_to "New department", new_department_path, class:'btn btn-secondary' %>
